In [1]:
import numpy as np
import pandas as pd

In [2]:
'''Creating a DataFrame
The following code cell creates a simple DataFrame containing 10 cells organized as follows:

5 rows
2 columns, one named temperature and the other named activity
The following code cell instantiates a pd.DataFrame class to generate a DataFrame. The class takes two arguments:

The first argument provides the data to populate the 10 cells. The code cell calls np.array to generate the 5x2 NumPy array.
The second argument identifies the names of the two columns.
Note: Do not redefine variables in the following code cell. Subsequent code cells use these variables.'''

my_data=np.array([[1,2],[34,55],[65,4],[67,78],[45,42]])
my_column_names=['Temperature','Activity']
data_frame=pd.DataFrame(data=my_data,columns=my_column_names)
print(data_frame)

   Temperature  Activity
0            1         2
1           34        55
2           65         4
3           67        78
4           45        42

In [3]:
#adding a new column
data_frame["Adjusted"]=data_frame["Activity"]+2
print(data_frame)

   Temperature  Activity  Adjusted
0            1         2         4
1           34        55        57
2           65         4         6
3           67        78        80
4           45        42        44

In [4]:
#Specifying a subset of a DataFrame
#Pandas provide multiples ways to isolate specific rows, columns, slices or cells in a DataFrame.
print("Row,0,1 and 2:")
print(data_frame.head(3),"\n")

print("Row,1,2 and 3")
print(data_frame[1:4],"\n")

print("Temperature:")
print(data_frame['Temperature'],"\n")

print("Row,2")
print(data_frame.iloc[[2]])

Row,0,1 and 2:
   Temperature  Activity  Adjusted
0            1         2         4
1           34        55        57
2           65         4         6

Row,1,2 and 3
   Temperature  Activity  Adjusted
1           34        55        57
2           65         4         6
3           67        78        80

Temperature:
0     1
1    34
2    65
3    67
4    45
Name: Temperature, dtype: int32

Row,2
   Temperature  Activity  Adjusted
2           65         4         6

In [5]:
'''Task 1: Create a DataFrame
Do the following:

Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

Output the following:

the entire DataFrame
the value in the cell of row #1 of the Eleanor column
Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.

To complete this task, it helps to know the NumPy basics covered in the NumPy UltraQuick Tutorial.'''

data=np.random.randint(low=0,high=100,size=(3,4))
column=["Eleanor", "Chidi", "Tahani", "Jason"]
dataframe=pd.DataFrame(data=data,columns=column)
print(dataframe,"\n")

print("Row, Eleanor")
print(dataframe["Eleanor"],"\n")

dataframe["Janet"]=dataframe["Tahani"]+dataframe["Jason"]
print(dataframe,"\n")

print("Row,1,Column,1,data:")
print("Data:%d\n"% dataframe["Eleanor"][1])

   Eleanor  Chidi  Tahani  Jason
0        0     70      24     93
1       68     96      39     30
2       25     40      75     57

Row, Eleanor
0     0
1    68
2    25
Name: Eleanor, dtype: int32

   Eleanor  Chidi  Tahani  Jason  Janet
0        0     70      24     93    117
1       68     96      39     30     69
2       25     40      75     57    132

Row,1,Column,1,data:
Data:68

In [6]:
'''Copying a DataFrame (optional)
Pandas provides two different ways to duplicate a DataFrame:

Referencing. If you assign a DataFrame to a new variable, any change to the DataFrame or to the new variable will be reflected in the other.
Copying. If you call the pd.DataFrame.copy method, you create a true independent copy. Changes to the original DataFrame or to the copy will not be reflected in the other.
The difference is subtle, but important.'''

print("New dataframe:")
new_dataframe=dataframe
print(new_dataframe,"\n")

print("Copy a Dataframe:")
copy_dataframe=dataframe.copy()
print(copy_dataframe)

New dataframe:
   Eleanor  Chidi  Tahani  Jason  Janet
0        0     70      24     93    117
1       68     96      39     30     69
2       25     40      75     57    132

Copy a Dataframe:
   Eleanor  Chidi  Tahani  Jason  Janet
0        0     70      24     93    117
1       68     96      39     30     69
2       25     40      75     57    132